<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion</title>
</head>
<body>
    <h2>Jaden Smith</h2>
    <p>Hijo de Will Smith y Jada Smith, hermano mayor de la cantante Willow Smith y medio hermano de Trey Smith</p>
    <p>Tuvo varios trabajos desde pequeño gracias a su padre Will Smith, la mayoria de actor</p>
    <h2>"El cambio"</h2>
    <p>Luego de varios años y alejarse de la industria del cine, se metió a la musica, cambio totalmente su aspecto y personalidad, en mi opinion esta es su mejor etapa, congenio mas con su familia y en especial con su hermana</p>
    <h2>Datos Extra</h2>
    <li> Junto a sus hermanos, es embajador de la juventud para Project Zambi, que presta asistencia a niños huérfanos por el Sida en Zambia en conjunto con Hasbro</li>
    <li>Su cancion Icon, tiene un remix con el mismisimo Will Smith y Nicky Jam lamentablemente al publico no le gustó para nada</li>
    <a href="/">Ir a Home</a>
</body>
</html>