<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bienvenido</h1>
    <p>Bienvenido a la pagina inicial, a continuacion habran diferentes links, cada uno de e llos lo llevará a diferentes paginas.</p>
    <nav>
     <li><a href="/about">Presione el link para ver la informacion</a></li>
     <li><a href="/work">Presione el link para ver el trabajo</a></li>
     <li><a href="/photo-gallery">Presione el link para ver las fotos</a></li>
    </nav>
    
</body>
</html>